<footer class="footer">
  <small>
    <a href="http://locahost:3000/static_pages/home/">Rails learning</a>
    by Sangoly
  </small>
  <nav>
    <ul>
      <li><%= link_to "About Us",   about_path %></li>
      <li><%= link_to "Help up",   help_path %></li>
      <li><%= link_to "Contact Us", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>